.section-service {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .section-wrapper {
    max-width: 1024px;
    width: 100%;

    h1 {
      color: #606060;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 500;
    }

    .service-container {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;

      .service-section-item {
        margin: 10px;
        padding: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.3s ease-in-out;
        img {
          width: 100px;
          margin: 20px 0;
        }

        h3 {
          color: #fff;
          font-weight: 400;
          font-size: 1.25em;
        }

        p {
          color: #fff;
          font-weight: 200;
          font-size: 15px;
        }

        &:nth-child(1) {
          background: #fff;
          h3 {
            color: #424242;
          }

          p {
            color: #424242;
          }
        }

        &:nth-child(2) {
          background: #424242;
          h3 {
            color: #fff;
          }

          p {
            color: #fff;
          }
        }

        &:nth-child(3) {
          background: #fff;
          h3 {
            color: #424242;
          }

          p {
            color: #424242;
          }
        }

        &:hover {
          box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12)
        }

      }
    }
  }
}