#page-loader {
  background-color:#1c1c1c;
  height:100%;
  width:100%;
  position:fixed;
  z-index:6000;
  margin-top:0px;
  top:0px;

  .text-div{
    width:100%;
    position:absolute;
    top:270px;
    color:#ffffff;

    p, #page-loader .text-div h6{margin:0;display:block;color:#ffffff;font-size:.9em;letter-spacing:1px;font-weight:300;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);}
    h6 {
      margin-top:5px;
      font-size:1.3em;
    }
  }
}

.spinner{width:50px;height:50px;background-color:#00dcf8;margin:200px auto;-webkit-animation:rotateplane 1.2s infinite ease-in-out;animation:rotateplane 1.2s infinite ease-in-out;}
@-webkit-keyframes rotateplane{0%{-webkit-transform:perspective(120px);}
  50%{-webkit-transform:perspective(120px) rotateY(180deg);}
  100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg);}
}
@keyframes rotateplane{0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg);-webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg);}
  50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);}
  100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}
}