.section-archievement {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .section-wrapper {
    width: 100%;
    max-width: 1024px;

    h1 {
      color: #606060;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 500;
    }

    .archieve-container {
      width: 100%;
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;

      .item-container {
        margin: 10px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

        .title-container {
          background: #424242;
          padding: 6px;
          h3 {
            margin: 0;
            font-size: 1.2em;
            color: #fff;
            font-weight: 400;
            padding: 5px;
            line-height: 30px;
          }
        }

        .content-container {
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 180px;
          }
        }

        &:hover {
          box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}